openapi: 3.1.0
info:
  title: Tiko Universe API
  version: 0.1.0
  description: Initial API-first contract for Tiko web, iOS, and Android clients.
servers:
  - url: https://api.tikoapi.org/v1
    description: Future production API gateway
  - url: https://dev.api.tikoapi.org/v1
    description: Future development API gateway
paths:
  /identity/device:
    post:
      summary: Create or restore a device-first user session
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceBootstrapRequest'
      responses:
        '200':
          description: Session bundle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionBundle'
        default:
          $ref: '#/components/responses/ApiError'
  /identity/session:
    get:
      summary: Return the current session
      security:
        - bearerSession: []
      responses:
        '200':
          description: Current session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionBundle'
        default:
          $ref: '#/components/responses/ApiError'
  /identity/email:
    post:
      summary: Attach or request recovery email magic link with generic response
      description: Always returns the same accepted response for syntactically valid requests and never reveals whether an email exists.
      security:
        - bearerSession: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecoveryEmailRequest'
      responses:
        '202':
          description: Generic accepted response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryEmailResponse'
        default:
          $ref: '#/components/responses/ApiError'
  /identity/magic-links/verify:
    post:
      summary: Verify a magic link and return a session bundle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicLinkVerifyRequest'
      responses:
        '200':
          description: Session bundle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionBundle'
        default:
          $ref: '#/components/responses/ApiError'
  /identity/logout:
    post:
      summary: Revoke the current bearer session
      security:
        - bearerSession: []
      responses:
        '204':
          description: Session revoked
        default:
          $ref: '#/components/responses/ApiError'
  /apps/{app}/settings:
    get:
      summary: Read app settings
      security:
        - bearerSession: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppSettings'
    put:
      summary: Save app settings
      security:
        - bearerSession: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: Saved app settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppSettings'
  /apps/{app}/state:
    get:
      summary: Read app state
      security:
        - bearerSession: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: App state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppState'
    put:
      summary: Save app state
      security:
        - bearerSession: []
      parameters:
        - $ref: '#/components/parameters/AppName'
      responses:
        '200':
          description: Saved app state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppState'
  /generation/tts:
    post:
      summary: Generate or fetch cached text-to-speech audio
      description: Normalizes the request, checks D1 metadata for an existing generated audio asset, stores generated bytes in R2 on cache miss, and returns a versioned generation response envelope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerationTtsRequest'
      responses:
        '200':
          description: Cached generated audio asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationTtsResponse'
        '201':
          description: Newly generated audio asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationTtsResponse'
        default:
          $ref: '#/components/responses/ApiError'
  /generation/audio/{id}:
    get:
      summary: Read generated audio bytes by id
      description: Resolves the generated audio metadata in D1, validates the stored R2 key, and streams the audio object.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]{1,128}$'
      responses:
        '200':
          description: Generated audio bytes
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/ApiError'
components:
  securitySchemes:
    bearerSession:
      type: http
      scheme: bearer
  parameters:
    AppName:
      name: app
      in: path
      required: true
      schema:
        type: string
        enum: [yes-no, type, cards, sequence, timer]
  responses:
    ApiError:
      description: API error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorEnvelope'
  schemas:
    DeviceBootstrapRequest:
      type: object
      properties:
        device:
          type: object
          properties:
            id:
              type: string
            secret:
              type: string
              description: Device restore secret returned during bootstrap.
            name:
              type: string
            platform:
              type: string
    RecoveryEmailRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
    RecoveryEmailResponse:
      type: object
      required: [message]
      properties:
        message:
          type: string
    MagicLinkVerifyRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
    SessionBundle:
      type: object
      required: [user, device, session]
      properties:
        user:
          $ref: '#/components/schemas/User'
        device:
          $ref: '#/components/schemas/Device'
        session:
          $ref: '#/components/schemas/Session'
    User:
      type: object
      required: [id, kind, recoverable]
      properties:
        id:
          type: string
        displayName:
          type: string
        kind:
          type: string
          enum: [device, recoverable]
        recoverable:
          type: boolean
    Device:
      type: object
      required: [id]
      properties:
        id:
          type: string
        name:
          type: string
        secret:
          type: string
          description: Device restore secret, returned only when minting a new device credential.
    Session:
      type: object
      required: [token, expiresAt]
      properties:
        token:
          type: string
        expiresAt:
          type: string
          format: date-time
    GenerationTtsRequest:
      type: object
      required: [text, language]
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 500
        language:
          type: string
          minLength: 1
          description: BCP-47 language code requested by the client.
        provider:
          type: string
          enum: [openai, azure, auto]
          default: auto
        voice:
          type: string
        model:
          type: string
          default: tts-1
        speed:
          type: number
          minimum: 0.25
          maximum: 4
          default: 1
        pitch:
          type: number
          minimum: -20
          maximum: 20
          default: 0
    GenerationTtsResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: '#/components/schemas/GeneratedAudioAsset'
        meta:
          type: object
          properties:
            cached:
              type: boolean
            schemaVersion:
              type: number
    GeneratedAudioAsset:
      type: object
      required: [id, audioUrl, contentType, generatedAt, provider, language, voice, model]
      properties:
        id:
          type: string
        audioUrl:
          type: string
          description: Relative API URL for `GET /generation/audio/{id}` or an absolute signed/read URL in a future contract.
        contentType:
          type: string
          enum: [audio/mpeg]
        fileSizeBytes:
          type: integer
          minimum: 0
        generatedAt:
          type: string
          format: date-time
        provider:
          type: string
        language:
          type: string
        voice:
          type: string
        model:
          type: string
    ApiErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            field:
              type: string
            retryAfterSeconds:
              type: number
        meta:
          type: object
          properties:
            requestId:
              type: string
    AppSettings:
      type: object
      additionalProperties: true
    AppState:
      type: object
      additionalProperties: true
